body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.main_postcard{    
    width: 500px;
    margin: auto;
}

.header__post{
    background-color: white;
    display: flex;
    align-items: center;
}

.header__logo{
    padding: 10px;
}

.header__title{
    width: 410px;
    margin: 5px;
}


p{
    margin: 5px;
}


.section__img{
    height: 374px;
    display: flex;
    align-items: center;
    margin: auto;
}

.article__contenido{
    background-color: white;
}

#section__emotis{
    display: flex;
    align-items: center;
    padding: 10px;
}

.send{
    width: 400px;
}

.comment{
    padding: 10px;
}

.section__text{
    padding: 10px;
}

.like{
    margin: 10px;
}

.text{
    margin: 10px;
}